* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.document {
    height: 100%;
}

:root {
    --site-background-black-theme: #000000;
    --site-background-light-theme: #ffffff;
    --text-light-theme: #000000;
    --text-black-theme: #ffffff;
    --btn-white-bg: #ffffff;
    --btn-black-bg: #000000;
    --brand-color: tomato;


    /*distance*/
    --standart-block-padding: 20px;
}

::selection {
    background-color: var(--brand-color);
    color: var(--text-black-theme);
}

.body {
    background-color: var(--site-background-black-theme);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    /*overflow-y: hidden;*/
    /*скролл убрать после решения проблемы с прокруткой списка!*/
}

.container {
    margin: 0 auto;
    max-width: 1100px;
}

/*standart style*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: var(--btn-white-bg);
    color: var(--brand-color);
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

.link {
    padding: 10px 0; /*four touch screen*/
}

@media (max-width: 600px) {
    .link {
        font-size: 1.2em;
    }
}

.link:hover,
.link:focus {
    color: var(--text-black-theme);
}

/*header*/

.header {
    padding: var(--standart-block-padding);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 900px) {
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .header__title {
        margin-bottom: 20px;
    }
}

.header__title-text {
    font-weight: 700;
    font-size: 2.5em;
    color: var(--brand-color);
}

@media (max-width: 600px) {
    .header__title-text {
        font-size: 3em;
    }

    .header-nav__btn {
        font-size: 1.2em;
    }
}

.header-nav__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__item:not(:last-child) {
    margin-right: 1.2em;
}

.header-nav__btn {
    background: transparent;
    color: var(--text-black-theme);
    background: var(--site-background-black-theme);
    position: relative;
    --borderWidth: 3px;
    border-radius: var(--borderWidth);
}

.header-nav__btn:hover::after,
.header-nav__btn:focus::after,
.header-nav__btn--active::after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

/*main*/

.main {
    padding: var(--standart-block-padding);
}

.add-page {
    display: none;
}

.main-form {
    width: 60%;
    margin: 0 auto;
}

@media (max-width: 900px) {
    .main-form {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .main-form {
        width: 100%;
    }
}

.main-form__fildset {
    padding: var(--standart-block-padding);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.main-form__legend {
    font-weight: 600;
    font-size: 2em;
    color: var(--text-black-theme);
}

.main-form__fildset:hover > .main-form__legend,
.main-form__fildset:focus-within > .main-form__legend {
    background: linear-gradient(135deg, #a166ab 0%, #1098ad 25%, #07b39b 50%, #6fba82 75%, #6fba82 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

.input-text {
    margin-bottom: 25px;
}

.main-form__lable {
    text-transform: uppercase;
    color: var(--text-black-theme);
}

.main-form__input {
    width: 100%;
    border: none;
    padding: 5px;
    color: #000;
    font-size: 1em;
    font-weight: 600;
}

@media (max-width: 600px) {
    .main-form__button {
        padding: 20px;
        font-size: 1.2em;
    }
}

.main-form__button:hover,
.main-form__button:focus {
    transition: 0.3s;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    color: #fff;
    background-color: transparent;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
    box-shadow: #fff 0 0 6px 1px;
}

/*main to do list block*/

.jobs-page {
    display: none;
}

.todo-list {
    width: 85%;
    margin: 0 auto;
}

.todo-list__elem {
    display: grid;
    grid-template-columns: 70% 15% 15%;
    border: var(--brand-color) 2px solid;
    padding: 10px;
    margin: 10px;
}

.todo-list__text {
    align-self: center;
    color: var(--text-black-theme);
    position: relative;
}

/*btn block*/

.todo-list__buttons{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.todo-list__buttons::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 60px;
    background-color: var(--brand-color);
}

.todo-list__buttons::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 60px;
    /*background-color: gray;*/
    background: linear-gradient(45deg, #a8edea, #fed6e3);
}

.todo-list__btn {
    border: 2px solid var(--btn-white-bg);
    width: 100px;
    display: block;
}

.todo-list__btn:hover {
    background-color: transparent;
    color: var(--text-black-theme);
}

/*ToDoList timer block*/

.todo-list__time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
}

/*footer*/

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--standart-block-padding);
}

.socials-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials-list__elem:not(:last-child) {
    margin-right: 1.2em;
}

.footer__text {
    color: var(--text-black-theme);
    text-align: right;
}

/*animations*/

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
  }

/*class for js logick*/

.page-show {
    display: block;
}

.input__error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
            border: 3px solid red;
            border-radius: 5px;
}
